body {
  background-color: #3C3C3C;
}

.front {
  color: transparent;
  font-size: 40px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #FAFAFA;
  /* text-align: center; */
  transition: transform 0.6s;
  width: 80%;
  margin: auto;
  cursor: default;
}

.front:hover {
  color: #FAFAFA;
  transform: scaleX(1.2);
}

.w3-animate-left {
  animation: animateleft 1s !important;
}

.navbar-color {
  background-color: #FAFAFA;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: bold;
}

.carousel-img {
  height: 520px;
}
@media screen and (max-width: 768px){
  .caraousel-img{
    width: 100%;
  }
}

.carousel-text {
  text-shadow: 1px 1px 5px #131313;
  transition: transform 0.6s;
}

.carousel-text:hover {
  text-shadow: 1px 1px 5px #FFF225;
  /* transform: scale(1.07, 1.07); */
}

.bi-instagram,
.bi-linkedin {
  margin: 10px;
}

.bi-android,
.bi-apple {
  margin-right: 5px;
}

.nav-icon {
  font-size: 20px;
  margin: 10px;
  color: #424242;
}

.nav-icon:hover {
  color: #131313;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
  color: #424242 !important;
  font-size: 18px;
}

.nav-item:hover {
  color: #131313 !important;
}

.dropdown-item:hover {
  background-color: #F9ED32;
}

footer {
  background-color: #252525;
  position: relative;
  bottom: 0px;
  width: 100%;
  margin-top: 30px;
}

.footer-link {
  color: #EDEDED;
  text-decoration: none;
  font-size: 17px;
}

.footer-link:hover {
  color: #FFF225;
}

.footer-link .bi {
  color: #EDEDED;
}

.row {
  padding-top: 30px;
  padding-bottom: 10px;
}

.ftr {
  margin-top: 7px;
}

.abtimg {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-dark {
  color: #F2F2F2;
  margin-left: 30px;
  background-color: #131313;
}

.btn-dark:hover {
  background-color: #F9ED32;
  color: #131313;
}

.btn-dark:active {
  background-color: #F2F2F2 !important;
  color: #131313 !important;
}

.product-head {
  color: #F2F2F2;
  text-align: center;
  margin-top: 40px;
}

.product-img {
  margin-top: 50px;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.table {
  color: #EDEDED;
  font-size: 15px;
  width: 100%;
  text-align: center;
}

.tcol {
  background-color: #252525;
}

.rowup {
  margin-top: 0;
}

.table .col {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buynow {
  display: flex;
  justify-content: center;
}

.under {
  color: #F9ED32;
}

.card {
  width: 18rem;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #EDEDED;
  transition: transform 0.5s;
}

.card:hover {
  background-color: #FFFFFF;
  transform: scale(1.1, 1.1);
}

.cards {
  display: flex;
  justify-content: center;
}

.btn-secondary {
  color: #FFFFFF;
  background-color: #2C2A2A;
}

.btn-secondary:hover {
  background-color: #FFFFFF;
  color: #2C2A2A;
}

.btn-secondary:active {
  background-color: #FFF225 !important;
}

.card-title,
.card-text {
  color: #424242;
}

.card-title:hover {
  color: #F9ED32;
}

.cardlink:hover {
  color: #F9ED32;
}

div.btn-group {
  margin: 0 auto;
  text-align: center;
  width: inherit;
  display: inline-block;
}

.btn-group-wrap {
  text-align: center;
}

.btn-primary {
  color: #F2F2F2;
  background-color: #131313;
}

.btn-primary:hover {
  background-color: #F9ED32;
  color: #131313;
}

.btn-primary:active {
  background-color: #F2F2F2 !important;
  color: #131313 !important;
}

.prebook {
  color: #FFFFFF;
  background-color: #131313;
  position: sticky;
  bottom: 5%;
  left: 44%;
  width: 12%;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 10px;
  margin-top: 50px;
  margin-bottom: 2px;
}

.prebook:hover{
  color: #131313;
  background-color: #FFFFFF;
}

.prebook:active{
  background-color: #FFF225;
}